// Download Button 
@mixin download_button{
        .download_button{
        display:flex;
        width:70%;
        margin-top:25px;
        justify-content: space-between;
    }
    .download_ios{
        color:$white;
        background-color:$strongcyan;
        padding:10px 20px 10px 20px;
        border-radius:20px;
        text-decoration:none;
        font-weight:600;
        &:hover{
            opacity:0.8;
        }
    }
    .download_mac{
        color:$white;
        background-color:$lightblue;
        padding:10px 25px 10px 25px;
        border-radius:20px;
        text-decoration:none;
        font-weight:600;
         &:hover{
            opacity:0.8;
        }
    }
    @media (min-width:1025px) and (max-width:1280px){
        .download_button{
            width:85%;
        }
    }
     @media (min-width:768px) and (max-width:1024px){
        .download_button{
            width:85%;
        }
    }
      @media (min-width:481px) and (max-width:767px){
        .download_button{
            width:100%;
        }
    }
       @media (min-width:320px) and (max-width:480px){
        .download_button{
            flex-direction:column;
            justify-content: space-between;
            width:80%;
            .download_ios,.download_mac{
                text-align:center;
                margin:10px 0px 10px 0px;
            }
        }
    }
}

// Text Styles 
@mixin paragraph{
        p{
        font-size:1.04rem;
        line-height:1.4rem;
        color:$grayishblue;
        text-align:center;
    }
}

@mixin h2{
     color:$darkgrayishblue;
     margin-bottom:0;
}