// Colors
$strongcyan:hsl(171, 66%, 44%);
$lightblue:hsl(233, 100%, 69%);
$darkgrayishblue:hsl(210, 10%, 33%);
$grayishblue:hsl(201, 11%, 66%);
$white:hsl(0, 0%, 100%);
// Font Styles
$font-size:18px;
$font:'Bai Jamjuree', sans-serif;
