@import 'variables';
@import 'mixins';
@import 'keyframes';
// Sass Partials Imported 
*{
    box-sizing:border-box;
    font-family:$font;
}
html{
    overflow-x:hidden;
}
body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    font-size:$font-size;
    background-color:$white;
    background:url("../images/bg-header-desktop.png") no-repeat;
    background-position: top;
}
// Intro Container 
.container{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:45%;
    margin:0 auto;
    margin-top:12%;
    animation:1.5s ease-out slide_down;
    img{
        animation:1.5s ease-out rotate;
    }
    h1{
        margin:50px 0px 0px 0px;
        text-align:center;
        color:$darkgrayishblue;
    }
    @include paragraph;
    p{
        padding:0px 10px 0px 10px;
    }
    @include download_button;
}
// Keep Track Container
.keep_track{
    width:50%;
    margin:0 auto;
    margin-top:110px;
    display:flex;
    flex-direction:column;
    align-items:center;
    @include h2;
    @include paragraph;
    animation:2s ease-in-out slide_up;
}

// Features Container 
.features{
    display:flex;
    margin-top:60px;
    img{
        transform:translateX(-100px);
    }
    ul{
        width:30%;
        list-style-type:none;
        padding:0;
        li{
        margin-top:60px;
        }
        @include h2;
        h2{
            font-weight:600;
            font-size:1.6rem;
        }
        p{
            margin:10px 0px 10px 0px;
            font-size:1.04rem;
            color:$grayishblue;
        }
    }
}

// Access Container 
.access_container{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:60%;
    margin:0 auto;
    margin-top:80px;
    @include h2;
    @include paragraph;
    p{
        width:80%;
    }
}

// Supercharge Container 
.supercharge_container{
    width:75%;
    margin:0 auto;
   h2{
       text-align:center;
       color:$darkgrayishblue;
       margin:15px 0px 0px 0px;
   }
   p{
       text-align:center;
       color:$grayishblue;
       margin:15px 0px 0px 0px;
       font-size:0.95rem;
       line-height:1.4rem;
   }
}

// Supercharge Features 
.supercharge_features{
    display:flex;
    margin-top:60px;
    justify-content: space-between;
    .feature_item{
        flex-basis:30%;
        img{
            display:block;
            margin:0 auto;
        }
        h3{
            text-align:center;
            margin-bottom:0;
            color:$darkgrayishblue;
        }
    }
}

// Company Logos
.company_logo_container{
    display:flex;
    width:80%;
    margin:0 auto;
    margin-top:120px;
    justify-content:space-between;
}

// Download Container 
.download_container{
    @include download_button;
    display:block;
    margin:0 auto;
    width:45%;
    margin-top:100px;
    h2{
        text-align:center;
        margin:10px 0px 10px 0px;
        color:$darkgrayishblue;
    }
    @include paragraph;
    .download_button{
        margin:0 auto;
        margin-top:50px;
    }
}

// Footer Styling 
footer{
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
    background-color:rgba(159,171,178,0.16);
    margin-top:150px;
    .footer_content{
        display:flex;
        justify-content: space-around;
        align-items:center;
        width:85%;
        margin-top:30px;
        figure{
            width:45px;
            height:45px;
            img{
                max-width:100%;
            }
        }
        .footer_links{
            display:flex;
            flex-direction: column;
            width:50%;
            .links{
                display:flex;
                a{
                    flex-basis:33.33%;
                }
            }
            .other_links{
                display:flex;
                padding-top:15px;
                a{
                    flex-basis:33.33%;
                }
            }
            a{
            text-decoration:none;
            color:$darkgrayishblue;
            font-weight: 600;
            &:hover{
                color:hsl(171, 66%, 44%);
            }
            }
        }
        .socialmedia{
            display:flex;
            justify-content:space-between;
            align-items: center;
            width:15%;
     } 
     .social_icon{
         text-decoration:none;
         font-size:1.8rem;
         color:#4C545C;
         &:hover{
            color:$strongcyan;
         }
     }
    }
}
// Media Queries Ahead
@media (min-width:768px) and (max-width:1024px){
    .container{
        width:60%;
        h1{
        font-size:1.8rem;
    }
    p{
        font-size:1rem;
     }
    }
    .keep_track{
        width:60%;
        h2{
            margin:12px 0px 12px 0px;
        }
        p{
            margin:6px 0px 6px 0px;
            font-size:1rem;
        }
    }
    .features{
        img{
            width:70%;
            height:30%;
        }
        ul{
            width:70%;
            margin-right:55px;
            margin-top:0;
        li{
            margin-top:20px;
            h2{
                font-size:1.3rem;
            }
            p{
                font-size:1rem;
            }
        }
        }
    }
    .access_container{
        width:80%;
          h2{
            margin:12px 0px 12px 0px;
        }
        p{
            margin:6px 0px 6px 0px;
            font-size:1rem;
        }
        img{
            margin-top:20px;
            max-width:100%;
        }
    }
    .supercharge_container{
        width:85%;
        h2{
            margin:12px 0px 12px 0px;
        }
        p{
            margin:6px 0px 6px 0px;
            font-size:1rem;
        }
    }
    .supercharge_features{
        h3{
            margin:25px 0px 25px 0px;
            font-size:1.4rem;
        }
        p{
            margin:12px 0px 12px 0px;
            font-size:0.9rem;
        }
    }
    .company_logo_container{
        width:95%;
    }
    .download_container{
        width:60%;
          h2{
            margin:12px 0px 12px 0px;
        }
        p{
            margin:6px 0px 6px 0px;
            font-size:1rem;
        }
    }
    footer{
        width:100%;
    .footer_links{
        a{
            font-size:1rem;
        }
     }
    }
}

// For Low Resolution IPad's
@media (min-width:481px) and (max-width:767px){
    .container{
        width:80%;
        h1{
            font-size:1.7rem;
        }
        p{
            font-size:1rem;
        }
    }
    .keep_track{
        width:80%;
          h2{
            margin:12px 0px 12px 0px;
            font-size:1.1rem;
        }
        p{
            margin:6px 0px 6px 0px;
            font-size:1rem;
        }
    }
    .features{
        img{
            width:60%;
            height:30%;
        }
         ul{
            margin-right:70px;
            margin-top:0;
            width:50%;
        li{
            margin-top:25px;
            h2{
                font-size:1.1rem;
            }
            p{
                font-size:1rem;
            }
        }
     }
    }
   .access_container{
       margin-top:60px;
       width:80%;
         h2{
            margin:12px 0px 12px 0px;
            font-size:1.1rem;
        }
        p{
            margin:6px 0px 6px 0px;
            font-size:1rem;
        }
        img{
            max-width:100%;
            margin-top:20px;
        }
   }
   .supercharge_container{
       margin-right:0;
       width:90%;
        h2{
            margin:12px 0px 12px 0px;
            font-size:1.1rem;
        }
        p{
            margin:6px 0px 6px 0px;
            font-size:1rem;
        }
   }
   .supercharge_features{
       margin-right:0;
       width:95%;
       h3{
           font-size:0.98rem;
       }
       p{
           font-size:0.95rem;
       }
   }
   .company_logo_container{
       width:95%;
       margin-top:100px;
       .company_logo{
           flex-basis:17%;
           img{
               max-width:100%;
           }
       }
   }
   .download_container{
       width:80%;
           h2{
            margin:12px 0px 12px 0px;
            font-size:1.1rem;
        }
        p{
            margin:6px 0px 6px 0px;
            font-size:1rem;
        }
   }
   footer{
       width:100%;
       .footer_content{
           width:100%;
           figure{
               margin:0;
           }
            .socialmedia{
           width:20%;
       }
       }
       .footer_links{
           a{
               font-size:0.9rem;
           }
       }
       .social_icon{
           font-size:0.6rem;
       }
   }
}
// Media Query For Mobile 

@media (min-width:320px) and (max-width:480px){
    body{
     background:url("../images/bg-header-mobile.png") no-repeat;
     background-size:100%;
    }
    .container{
        width:90%;
        img{
            margin-top:50px;
        }
        h1{
            font-size:2rem;
            width:85%;
        }
        p{
            padding:0px 4px 0px 4px;
            line-height:1.6rem;
        }
    }
    .keep_track{
        width:70%;
        h2{
            text-align:center;
        }
        p{
            margin:0;
            font-size:1.02rem;
            line-height:1.6rem;
        }
    }
    .features{
        width:90%;
        flex-direction: column;
        align-items: center;
        margin:0 auto;
        margin-top:60px;
        img{
            max-width:100%;
            transform:translateX(0);
            margin:0 auto;
        }
        ul{
            width:80%;
        li{
            text-align:center;
            h2{
                font-size:1.6rem;
            }
         p{
            margin:0;
            font-size:1.02rem;
            line-height:1.6rem;
          }
        }
      }
    }
    .access_container{
        width:85%;
        h2{
                font-size:1.6rem;
                margin:14px 0px 14px 0px;
                text-align:center;
         }
        p{
            margin:0;
            font-size:1.02rem;
            line-height:1.6rem;
        }
        img{
            max-width:100%;
            margin-top:50px;
        }
    }
    .supercharge_container{
        h2{
                font-size:1.6rem;
                margin:14px 0px 14px 0px;
         }
        p{
            margin:0;
            font-size:1.02rem;
            line-height:1.6rem;
        }
    }
    .supercharge_features{
        flex-direction:column;
        .feature_item{
            margin:20px 0px 20px 0px;
            h3{
                margin:15px 0px 15px 0px;
                font-size:1.2rem;
            }
            p{
                font-size:1.02rem;
            }
        }
    }
    .company_logo_container{
        flex-direction: column;
        align-items: center;
        .company_logo{
            margin:40px 0px 40px 0px;
        }
    }
    .download_container{
        width:80%;
         h2{
                font-size:1.6rem;
                margin:14px 0px 14px 0px;
         }
         p{
                font-size:1.02rem;
         }
    }
    footer{
        flex-direction:column;
        .footer_content{
            flex-direction:column;
            .links{
                flex-direction:column;
                align-items: center;
                a{
                    margin-top:20px;
                }
            }
            .other_links{
                flex-direction:column;
                align-items:center;
                padding-top:0px !important;
                a{
                    margin-top:20px;
                }
            }
            .socialmedia{
                margin-top:35px;
                width:50%;
                justify-content: space-around;
            }
        }
    }
}
