@import 'variables';
@import 'mixins';
// Sass Partials Imported 
*{
    box-sizing:border-box;
    font-family:$font;
}
html{
    overflow-x:hidden;
    margin:0;
    padding:0;
}
body{
    font-size:$font-size;
    background-color:$white;
    background:url("/images/bg-header-desktop.png") no-repeat;
    background-position: top;
}
// Intro Container 
.container{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:45%;
    margin:0 auto;
    margin-top:12%;

    h1{
        margin:50px 0px 0px 0px;
        text-align:center;
        color:$darkgrayishblue;
    }
    p{
        font-size:1.04rem;
        line-height:1.4rem;
        color:$grayishblue;
        text-align:center;
        padding:0px 10px 0px 10px;
    }
    .download_button{
        display:flex;
        width:70%;
        margin-top:25px;
        justify-content: space-around;
    }
    .download_ios{
        color:$white;
        background-color:$strongcyan;
        padding:10px 20px 10px 20px;
        border-radius:20px;
        text-decoration:none;
        font-weight:600;
        &:hover{
            opacity:0.8;
        }
    }
    .download_mac{
        color:$white;
        background-color:$lightblue;
        padding:10px 25px 10px 25px;
        border-radius:20px;
        text-decoration:none;
        font-weight:600;
         &:hover{
            opacity:0.8;
        }
    }
}
// Keep Track Container
.keep_track{
    width:50%;
    margin:0 auto;
    margin-top:110px;
    display:flex;
    flex-direction:column;
    align-items:center;
    h2{
        color:$darkgrayishblue;
        margin-bottom:0;
    }
    p{
        text-align:center;
        font-size:1.04rem;
        line-height:1.4rem;
        color:$grayishblue;
    }
}

// Features Container 
.features{
    display:flex;
    margin-top:60px;
    img{
        transform:translateX(-100px);
    }
    ul{
        margin-top:60px;
        width:30%;
        list-style-type:none;
        padding:0;
    }
   
}
