* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 18px;
  background-color: white;
  background: url("/images/bg-header-desktop.png") no-repeat;
  background-position: top;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  margin: 0 auto;
  margin-top: 12%;
}

.container h1 {
  margin: 50px 0px 0px 0px;
  text-align: center;
  color: #4c545d;
}

.container p {
  font-size: 1.04rem;
  line-height: 1.4rem;
  color: #9fabb2;
  text-align: center;
}

.container p {
  padding: 0px 10px 0px 10px;
}

.container .download_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .download_ios {
  color: white;
  background-color: #26baa4;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
}

.container .download_ios:hover {
  opacity: 0.8;
}

.container .download_mac {
  color: white;
  background-color: #6173ff;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
}

.container .download_mac:hover {
  opacity: 0.8;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container .download_button {
    width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container .download_button {
    width: 85%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container .download_button {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container .download_button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
  }
  .container .download_button .download_ios, .container .download_button .download_mac {
    text-align: center;
    margin: 10px 0px 10px 0px;
  }
}

.keep_track {
  width: 50%;
  margin: 0 auto;
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4c545d;
  margin-bottom: 0;
}

.keep_track p {
  font-size: 1.04rem;
  line-height: 1.4rem;
  color: #9fabb2;
  text-align: center;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.features img {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.features ul {
  width: 30%;
  list-style-type: none;
  padding: 0;
  color: #4c545d;
  margin-bottom: 0;
}

.features ul li {
  margin-top: 60px;
}

.features ul h2 {
  font-weight: 600;
  font-size: 1.6rem;
}

.features ul p {
  margin: 10px 0px 10px 0px;
  font-size: 1.04rem;
  color: #9fabb2;
}

.access_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 80px;
  color: #4c545d;
  margin-bottom: 0;
}

.access_container p {
  font-size: 1.04rem;
  line-height: 1.4rem;
  color: #9fabb2;
  text-align: center;
}

.access_container p {
  width: 80%;
}

.supercharge_container {
  width: 75%;
  margin: 0 auto;
}

.supercharge_container h2 {
  text-align: center;
  color: #4c545d;
  margin: 15px 0px 0px 0px;
}

.supercharge_container p {
  text-align: center;
  color: #9fabb2;
  margin: 15px 0px 0px 0px;
  font-size: 0.95rem;
  line-height: 1.4rem;
}

.supercharge_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.supercharge_features .feature_item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.supercharge_features .feature_item img {
  display: block;
  margin: 0 auto;
}

.supercharge_features .feature_item h3 {
  text-align: center;
  margin-bottom: 0;
  color: #4c545d;
}

.company_logo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download_container {
  display: block;
  margin: 0 auto;
  width: 45%;
  margin-top: 100px;
}

.download_container .download_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download_container .download_ios {
  color: white;
  background-color: #26baa4;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
}

.download_container .download_ios:hover {
  opacity: 0.8;
}

.download_container .download_mac {
  color: white;
  background-color: #6173ff;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
}

.download_container .download_mac:hover {
  opacity: 0.8;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .download_container .download_button {
    width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .download_container .download_button {
    width: 85%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .download_container .download_button {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .download_container .download_button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
  }
  .download_container .download_button .download_ios, .download_container .download_button .download_mac {
    text-align: center;
    margin: 10px 0px 10px 0px;
  }
}

.download_container h2 {
  text-align: center;
  margin: 10px 0px 10px 0px;
  color: #4c545d;
}

.download_container p {
  font-size: 1.04rem;
  line-height: 1.4rem;
  color: #9fabb2;
  text-align: center;
}

.download_container .download_button {
  margin: 0 auto;
  margin-top: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: 0 auto;
  margin-top: 150px;
}

footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_content figure {
  width: 45px;
  height: 45px;
}

footer .footer_content figure img {
  max-width: 100%;
}

footer .footer_content .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

footer .footer_content .footer_links .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_content .footer_links .links a {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

footer .footer_content .footer_links .other_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

footer .footer_content .footer_links .other_links a {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

footer .footer_content .footer_links a {
  text-decoration: none;
  color: #4c545d;
  font-weight: 600;
}

footer .footer_content .footer_links a:hover {
  color: #26baa4;
}

footer .footer_content .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
}

footer .footer_content .social_icon {
  text-decoration: none;
  font-size: 1.8rem;
  color: #4C545C;
}

footer .footer_content .social_icon:hover {
  color: #26baa4;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 60%;
  }
  .container h1 {
    font-size: 1.8rem;
  }
  .container p {
    font-size: 1rem;
  }
  .keep_track {
    width: 60%;
  }
  .keep_track h2 {
    margin: 12px 0px 12px 0px;
  }
  .keep_track p {
    margin: 6px 0px 6px 0px;
    font-size: 1rem;
  }
  .features img {
    width: 70%;
    height: 30%;
  }
  .features ul {
    width: 70%;
    margin-right: 55px;
    margin-top: 0;
  }
  .features ul li {
    margin-top: 20px;
  }
  .features ul li h2 {
    font-size: 1.3rem;
  }
  .features ul li p {
    font-size: 1rem;
  }
  .access_container {
    width: 80%;
  }
  .access_container h2 {
    margin: 12px 0px 12px 0px;
  }
  .access_container p {
    margin: 6px 0px 6px 0px;
    font-size: 1rem;
  }
  .access_container img {
    margin-top: 20px;
    max-width: 100%;
  }
  .supercharge_container {
    width: 85%;
  }
  .supercharge_container h2 {
    margin: 12px 0px 12px 0px;
  }
  .supercharge_container p {
    margin: 6px 0px 6px 0px;
    font-size: 1rem;
  }
  .supercharge_features h3 {
    margin: 25px 0px 25px 0px;
    font-size: 1.4rem;
  }
  .supercharge_features p {
    margin: 12px 0px 12px 0px;
    font-size: 0.9rem;
  }
  .company_logo_container {
    width: 95%;
  }
  .download_container {
    width: 60%;
  }
  .download_container h2 {
    margin: 12px 0px 12px 0px;
  }
  .download_container p {
    margin: 6px 0px 6px 0px;
    font-size: 1rem;
  }
  footer {
    width: 95%;
  }
  footer .footer_links a {
    font-size: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 80%;
  }
  .container h1 {
    font-size: 1.7rem;
  }
  .container p {
    font-size: 1rem;
  }
  .keep_track {
    width: 80%;
  }
  .keep_track h2 {
    margin: 12px 0px 12px 0px;
    font-size: 1.1rem;
  }
  .keep_track p {
    margin: 6px 0px 6px 0px;
    font-size: 1rem;
  }
  .features img {
    width: 60%;
    height: 30%;
  }
  .features ul {
    margin-right: 70px;
    margin-top: 0;
    width: 50%;
  }
  .features ul li {
    margin-top: 25px;
  }
  .features ul li h2 {
    font-size: 1.1rem;
  }
  .features ul li p {
    font-size: 1rem;
  }
  .access_container {
    margin-top: 60px;
    width: 80%;
  }
  .access_container h2 {
    margin: 12px 0px 12px 0px;
    font-size: 1.1rem;
  }
  .access_container p {
    margin: 6px 0px 6px 0px;
    font-size: 1rem;
  }
  .access_container img {
    max-width: 100%;
    margin-top: 20px;
  }
  .supercharge_container {
    margin-right: 0;
    width: 90%;
  }
  .supercharge_container h2 {
    margin: 12px 0px 12px 0px;
    font-size: 1.1rem;
  }
  .supercharge_container p {
    margin: 6px 0px 6px 0px;
    font-size: 1rem;
  }
  .supercharge_features {
    margin-right: 0;
    width: 95%;
  }
  .supercharge_features h3 {
    font-size: 0.98rem;
  }
  .supercharge_features p {
    font-size: 0.95rem;
  }
  .company_logo_container {
    width: 95%;
    margin-top: 100px;
  }
  .company_logo_container .company_logo {
    -ms-flex-preferred-size: 17%;
        flex-basis: 17%;
  }
  .company_logo_container .company_logo img {
    max-width: 100%;
  }
  .download_container {
    width: 80%;
  }
  .download_container h2 {
    margin: 12px 0px 12px 0px;
    font-size: 1.1rem;
  }
  .download_container p {
    margin: 6px 0px 6px 0px;
    font-size: 1rem;
  }
  footer {
    width: 100%;
  }
  footer .footer_content figure {
    margin: 0;
  }
  footer .footer_content .socialmedia {
    width: 20%;
  }
  footer .footer_links a {
    font-size: 0.9rem;
  }
  footer .social_icon {
    font-size: 0.6rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    background: url("/images/bg-header-mobile.png") no-repeat;
    background-size: 100%;
  }
  .container {
    width: 90%;
  }
  .container img {
    margin-top: 50px;
  }
  .container h1 {
    font-size: 2rem;
    width: 85%;
  }
  .container p {
    padding: 0px 4px 0px 4px;
    line-height: 1.6rem;
  }
  .keep_track {
    width: 70%;
  }
  .keep_track h2 {
    text-align: center;
  }
  .keep_track p {
    margin: 0;
    font-size: 1.02rem;
    line-height: 1.6rem;
  }
  .features {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 60px;
  }
  .features img {
    max-width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin: 0 auto;
  }
  .features ul {
    width: 80%;
  }
  .features ul li {
    text-align: center;
  }
  .features ul li h2 {
    font-size: 1.6rem;
  }
  .features ul li p {
    margin: 0;
    font-size: 1.02rem;
    line-height: 1.6rem;
  }
  .access_container {
    width: 85%;
  }
  .access_container h2 {
    font-size: 1.6rem;
    margin: 14px 0px 14px 0px;
  }
  .access_container p {
    margin: 0;
    font-size: 1.02rem;
    line-height: 1.6rem;
  }
  .access_container img {
    max-width: 100%;
    margin-top: 50px;
  }
  .supercharge_container h2 {
    font-size: 1.6rem;
    margin: 14px 0px 14px 0px;
  }
  .supercharge_container p {
    margin: 0;
    font-size: 1.02rem;
    line-height: 1.6rem;
  }
  .supercharge_features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .supercharge_features .feature_item {
    margin: 20px 0px 20px 0px;
  }
  .supercharge_features .feature_item h3 {
    margin: 15px 0px 15px 0px;
    font-size: 1.2rem;
  }
  .supercharge_features .feature_item p {
    font-size: 1.02rem;
  }
  .company_logo_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .company_logo_container .company_logo {
    margin: 40px 0px 40px 0px;
  }
  .download_container {
    width: 80%;
  }
  .download_container h2 {
    font-size: 1.6rem;
    margin: 14px 0px 14px 0px;
  }
  .download_container p {
    font-size: 1.02rem;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */